$xxxxxs: 4px;
$xxxxs: 8px;
$xxxs: 12px;
$xxs: 16px;
$xxs: 24px;
$xs: 32px;
$s: 48px;
$m: 64px;
$l: 96px;
$xl: 128px;
$xxl: 192px;
$xxxl: 256px;
$xxxxl: 384px;
$xxxxxl: 512px;
$xxxxxxl: 640px;
$xxxxxxxl: 768px;